<div id="<%= dom_id kitchen_owner %>">
  <p>
    <strong>Kitchen name:</strong>
    <%= kitchen_owner.kitchen_name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= kitchen_owner.string %>
  </p>

  <p>
    <strong>Kitchen mail:</strong>
    <%= kitchen_owner.kitchen_mail %>
  </p>

  <p>
    <strong>Kitchen number:</strong>
    <%= kitchen_owner.kitchen_number %>
  </p>

  <p>
    <strong>Kitchen adress:</strong>
    <%= kitchen_owner.kitchen_adress %>
  </p>

</div>
