<p style="color: green"><%= notice %></p>

<%= render @cook %>

<div>
  <%= link_to "Edit this cook", edit_cook_path(@cook) %> |
  <%= link_to "Back to cooks", cooks_path %>

  <%= button_to "Destroy this cook", @cook, method: :delete %>
</div>
