<%= form_with(model: kitchen) do |form| %>
  <% if kitchen.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kitchen.errors.count, "error") %> prohibited this kitchen from being saved:</h2>

      <ul>
        <% kitchen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :equipment, style: "display: block" %>
    <%= form.text_field :equipment %>
  </div>

  <div>
    <%= form.label :services, style: "display: block" %>
    <%= form.text_field :services %>
  </div>

  <div>
    <%= form.label :kitchen_adress, style: "display: block" %>
    <%= form.text_field :kitchen_adress %>
  </div>

  <div>
    <%= form.label :kitchen_surface, style: "display: block" %>
    <%= form.number_field :kitchen_surface %>
  </div>

  <div>
    <%= form.label :kitchen_description, style: "display: block" %>
    <%= form.text_field :kitchen_description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
