<div id="<%= dom_id kitchen %>">
  <p>
    <strong>Equipment:</strong>
    <%= kitchen.equipment %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= kitchen.services %>
  </p>

  <p>
    <strong>Kitchen adress:</strong>
    <%= kitchen.kitchen_adress %>
  </p>

  <p>
    <strong>Kitchen surface:</strong>
    <%= kitchen.kitchen_surface %>
  </p>

  <p>
    <strong>Kitchen description:</strong>
    <%= kitchen.kitchen_description %>
  </p>

</div>
